# Ignore Gradle project-specific cache directory
cmake-build-debug
cmake-build-release
CMakeLists.txt

# Ignore backup and lock files
*~
\#*

# Ignore vscode setting
.vscode

# Ignore intelliJ setting
.idea/misc.xml
.idea/modules.xml
.idea


