# Ignore Gradle project-specific cache directory
cmake-build-debug
CMakeLists.txt
.idea

# Ignore Gradle build output directory

# Ignore backup and lock files
*~
\#*

# Ignore vscode setting
.vscode

# Ignore intelliJ setting
.idea/misc.xml
.idea/modules.xml
